<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= htmlWebpackPlugin.options.title
    body
        //- Menu
        include /partials/navbar.pug
        header
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                .carousel-inner(role='listbox')
                    // Slide One - Set the background image for this slide in the line below
                    .carousel-item.active(style="background-image: url('https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')")
                        .carousel-caption.d-none.d-md-block
                            h2.display-4 First Slide
                            p.lead This is a description for the first slide.
                    // Slide Two - Set the background image for this slide in the line below
                    .carousel-item(style="background-image: url('https://images.unsplash.com/photo-1522542550221-31fd19575a2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')")
                        .carousel-caption.d-none.d-md-block
                            h2.display-4 Second Slide
                            p.lead This is a description for the second slide.
                    // Slide Three - Set the background image for this slide in the line below
                    .carousel-item(style="background-image: url('https://images.unsplash.com/photo-1546514714-df0ccc50d7bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80')")
                        .carousel-caption.d-none.d-md-block
                            h2.display-4 Third Slide
                            p.lead This is a description for the third slide.
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next

        // Page Content
        section.py-5
            .container
                h1.display-4.text-center WorkFlows en Webpack
                p.lead
                    | Workflow Desarrollado con Webpack, para la manipulación de las fuentes de Bootstrap en los archivos .scss y el uso del un motor plantilla Pug JS para agilizar en tiempo de desarrollo.
                    a(target="_blank" href='https://github.com/yormi-altamiranda/workflow-webpack') Todo en mi reposiorio en GitHub

                p.lead He desarrollado este WorkFlow basado en los cursos prácticos de 
                    a(target="_blank" href='https://www.youtube.com/channel/UCMn28O1sQGochG94HdlthbA') Fazt

        include partials/footer.pug