@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import "~bootstrap/scss/bootstrap";

$bg_primary: #0075f6;
$font-1: 'Raleway', sans-serif;
// Styles Custom
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.navbar{
  background: $bg_primary;  
  .navbar-nav{
    .nav-item{
      .nav-link{
        font-weight: 600;
      }
    }
  }
}

// Footer
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: $font-1;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $white;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: $bg_primary;
  span{
    a{
      color: $white;
    }
  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
